*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  background-color: black;
}

.card {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 600px;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  background-color: #ffff;
}
